{% extends "base.twig.html" %}

{% block main %}
    <section class="containerApropos">
        <section class="aboutMe">
            <div>
               <h2>About Lord Stampee</h2>
               <p class="textAboutMe">Une personne de fine délicatesse que a garder chaque petit morceau de papier qui
                  prouve un dialogue ou quelque chose qui a été envoyé à quelqu'un de spécial. Ces lettres ont parcouru le
                  monde et j'imagine l'importance que chaque timbre a dans sa vie. Il y a tellement de couleurs, de valeurs
                  et même de designs qu'il est devenu une source d'inspiration pour un si bon goût lors de la création de
                  cette collection.</p>
               <button class="button">Voir plus</button>
            </div>
            <img src="assets/images/lord_stampee_photo.jpg" alt="">
         </section>   
    </section>
{% endblock %}