{% extends "base.twig.html" %}

{% block main %}
 <!---------------------Header------------------->

 <header class="banner">
    <img src="ressources/images/ali-bakhtiari-81eOv8Vox8k-unsplash-small.jpg" alt="">
  </header>
<!---------------------Section catalogue timbres------------------->

  <div class="wrapper">
    <section class="searchMenu">
      <form action="timbre/rechercher" method="post">
        <label for="certifie">Certifie
          <select name="certifie" id="certifie">
            <option value=""></option>
            <option value="oui">Oui</option>
            <option value="non">Non</option>
          </select>
        </label>
        <button class="btnSelect" type="submit">Choisir</button>
      </form>
      <form action="timbre/rechercher" method="post">
        <label for="condition">Condition
          <select name="condition" id="condition">
            <option value=""></option>
            <option value="2">Sans gomme</option>
            <option value="1">Avec gomme</option>
            <option value="3">Bonne</option>
            <option value="4">Endommagée</option>

          </select>
        </label>
        <button class="btnSelect" type="submit">Choisir</button>
      </form>
      <form action="timbre/rechercher" method="post">
        <label for="recherche">Recherche par nom</label><input name="recherche" type="text" placeholder="Recherche">
        <button class="btnSelect" type="submit">Choisir</button>
      </form>
    </section>
    <section class="cards">
      {% for enchere in encheres %} 
      {% for infos in enchere %} 
      <div class="card" id="{{infos.tim_id}}" data-js-card>
        <img src="../{{infos.img_path}}" alt="">
        <div class="flex">
          <h4>Ouvert {{infos.enc_date_debut}} - {{infos.enc_date_fin}}</h4>
          <h3>Nom: {{infos.enc_nom}}</h3>
          <h3>Pieces: {{infos.enc_pieces}}</h3>
          <h3>Prix plancher: {{infos.tim_prix}}</h3>
          {% if session.utilisateur and utilisateur == infos.utilisateur_uti_id %}
            <div class="divRow btnDetails">
              <a href="timbre/un/{{infos.tim_id}}" ><button class="btn">MORE DETAILS</button></a>
              <a href="timbre/modifier/{{infos.enchere_enc_id}}" data-js-update><button class="btn">MODIFIER</button></a>
              <a href="timbre/retirer/{{infos.enchere_enc_id}}" data-js-delete><button class="btn">SUPPRIMER</button></a>
            </div>
          {% else %}
            <div class="divRow btnDetails">
              <a href="timbre/un/{{infos.tim_id}}"><button class="btn" style="margin-top: 15px;">MORE DETAILS</button></a>
            </div>
          {% endif %}
          </div>
        </div>
      {% endfor %}   
      {% endfor %}
   


    </section>
  </div>
{% endblock %}