{% extends "base.twig.html" %}

{% block main %}

<section class="wrapper">
<h1 class="bienvenue">Bienvenue a la page membre</h1>
   <div class="profilMembre">
      <h2>Profil</h2>
      <span>Nom:</span><span> {{utilisateur.uti_prenom}}</span><span> {{utilisateur.uti_nom}}</span><br>
      <span>Courriel:</span><span> {{utilisateur.uti_courriel}}</span><br>
      <span>Pays residence:</span><span> {{utilisateur.uti_pays_residence}}</span><br>
      <span>Membre depuis:</span><span> {{utilisateur.uti_date_register}}</span>
   </div>
   </div>
   <div class="align-center flex">
      <h2>Publier une enchère</h2>
      <section class="cardPageMembre">
         <form method="POST" action="timbre/ajouter" enctype="multipart/form-data">
            <div class="cardEnchere">
               <div class="formEnchere">
                  <label for="enc_nom">Nom d'enchère'</label>
                  <input type="text"  name="enc_nom" id="enc_nom" placeholder="Nom d'enchère" required>
                  <label for="tim_couleur">Couleur</label>
                  <input type="text" name="tim_couleur" id="tim_couleur" placeholder="Couleur du timbre" required>
                  <label for="tim_pays_origine">Pays d'origine</label>
                  <input type="text" name="tim_pays_origine" id="tim_pays_origine" placeholder="Pays d'origine" required>
                  <label for="tim_prix">Prix</label>
                  <input type="number" name="tim_prix" id="tim_prix" min="0" placeholder="0" required>
                  <label for="tim_dimensions">Dimensions</label>
                  <input type="text" name="tim_dimensions" id="tim_dimensions" placeholder="25 X 22 mm" required>
               </div>
               <div class="formEnchere">
                  <label for="tim_certifie">Certificat</label>
                  <select name="tim_certifie" id="tim_certifie" required>
                      <option value="">-</option>
                      <option value="oui">oui</option>
                      <option value="non">non</option>
                  </select>
                  <label for="con_etat">Condition</label>
                  <select name="con_etat" id="con_etat" value="{{con_etat}}" required>
                      <option value="">-</option>
                      <option value="endommagée">endommagée</option>
                      <option value="bonne">bonne</option>
                      <option value="avec gomme">avec gomme</option>
                      <option value="sans gomme">sans gomme</option>
                  </select>
                  <label for="enc_pieces">Pieces</label>
                  <input type="number"  name="enc_pieces" id="enc_pieces" placeholder="Pieces" required>
                  <label for="enc_date_debut">Date debut</label>
                  <input type="date" value="{{enc_date_debut}}" name="enc_date_debut" id="enc_date_debut" placeholder="Date debut" required>
                  <label for="enc_date_fin">Date fin</label>
                  <input type="date" value="{{enc_date_fin}}" name="enc_date_fin" id="enc_date_fin" placeholder="Date fin" required>
                  <label for="fileToUpload">Image</label>
                  <input type="file" value="{{img_path}}" name="fileToUpload" id="fileToUpload" accept="image/png, image/jpeg" placeholder=" Image">
               </div>
            </div>
            <input class="btnPublier" type="submit" name="publier">
         </form>
      </section>
      <br>
      <h2>Timbres Favoris</h2>
      <div class="cardPageMembre">
      <div class="flex">
         <h4>Timbre {{favoris.fav_timbre_tim_id}}</h4>
         <a href="timbre/un/{{favoris.fav_timbre_tim_id}}"><button class="btn">Voir plus</button></a>
      </div>
      </div>
      <br>
      <h2>Mes timbres</h2>
      <div class="cardPageMembre">
         <div class="flexRow">
            {% for enchere in encheres %}
            {% for infos in enchere %}
               <div class="flex">
                  <h4>Timbre {{infos.tim_id}}</h4>
                  <img src="../{{infos.img_path}}" alt="" width="50px" height="60px">
                  <a href="timbre/un/{{infos.tim_id}}"><button class="btn">Voir plus</button></a>
               </div>
            {% endfor %}
            {% endfor %}
         </div>
      </div>
   </div>
</section>

{% endblock %}